*{
    margin: 0;
    padding: 0;
}
nav ul{
    background-color:black;
    /* height:8vh; */
    display: flex;
   padding:1%;
   /* justify-content:; */
   gap: 2rem;
   
}
nav ul li {
    color:white;
    list-style: none;
    /* display:inline-block; */
    text-decoration: none;
    text-transform:capitalize;
    /* padding:1em; */
    font-size:auto;
}
.all{
    display:flex; 
    justify-content: space-between;
}
.box1{
height:auto;
width:auto;
background-color: green;
/* font-size:1em; */
/* grid-template-columns: 6; */
}
.box2{
    height:auto;
    width:auto; 
    background-color: rgb(4, 182, 241);  
}
footer {
    background-color: black;
    color: white;
    
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.daba{
    background-color: black;
    border: 2px solid red;
    height:5rem;
    width:5rem;
}